

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  color:rgb(198, 42, 230);
  width:50%;
  height: 100%;
  margin: 0 auto;
  border:1px solid rgb(216, 17, 235);
  box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.979);
  border-radius: 8px;
}
.formulario{
  
}
p{
  
  color:white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  justify-content: center;
  width: 100%; 
}
h1{
  color:rgb(198, 42, 230);
  font-size: 50px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

button{
  color:white;
  background: rgb(198, 42, 230);
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
table {
  border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th, td {
  padding: 12px 15px;
 
  margin: 15px;
}
tr{
  background-color: #009879;
 
  color: #ffffff;
  text-align: left;
}

